<% provide(:title, "About Us") %>
<h1>Why Hitmunk Exists</h1>
<p class='lead'>Hitmunk's mission is to bring people together to share and grow
  the industry's knowledge base. By doing so, we hope to connect the people who
  have knowledge to the people who need it, leading to the creation of
  intelligent solutions and answers for better quality of life.
</p>
<br>
<p>
  The heart and soul of Hitmunk is discussion- whether that be around breaking
  industry news or a question about a particular topic. Discussion can be sparked
  by anyone- patients, doctors, nurses, CEOs, software developers, social workers,
  CMIOs, and everyone in between. Everyone is invited to give their meaningful
  perspective with the goal of creating well-rounded, definitive threads of
  useful information.
</p>
