<% commentable.comments.each do |comment| %>
  <div class="well">
    <p><strong><%= link_to comment.user.username, user_path(comment.user) %> says:</strong> <%= comment.body %></p>
  </div>
<% end %>
