<h1><%= current_user.username %>'s conversations <%= link_to "New", new_conversation_path, class: "btn btn-md btn-default" %></h1>

<% @conversations.each do |conversation| %>
  <div>
    <%= link_to conversation.subject, conversation_path(conversation) %>
  </div>
<% end %>
