<% provide(:title, "#{@user.username}") %>
<div class="row">
  <div class="col-md-4 col-md">
    <h2><%= @user.username %></h2>
    <p><em>account created <%= time_ago_in_words(@user.created_at) %> ago</em></p>
    <% unless !current_user?(@user) %>
      <p><%= link_to "Update your information", edit_user_path(@user) %></p>
    <% end %>
  </div>

  <div class="col-md-4 col-md">
    <h2>recently submitted links</h2>
    <% @user.links.each do |link| %>
      <li><%= link_to link.title, link.url %></li>
    <% end %>
  </div>
</div>
