<% provide(:title, "#{@link.title}") %>
<div class="row">
  <div class="col-md-4 col-md">
    <h2><%= link_to @link.title, @link.url, target: :_blank %></h2>
    <%= button_to "Add comment", "#", class: "btn btn-primary" %>
  </div>
</div>
